/* mobile view */

@media(min-width:320px){
	.port-row{
	display:flex;
	flex-wrap:wrap;
	}
	.port-col{
	width:100%;
	padding:10px;
   }
   h2{
	   font-size:20px;
   }
   .port-head::after{
	position:absolute;
	content:"";
	background-color:#FFA500;
	height:0.5px;
	width:110px;
	top:50%;
	left:42%;
    }
}

/* tab view */

@media(min-width:760px){
	.port-row{
	flex-wrap:wrap;
	}
    .port-col{
	width:50%;
	padding:10px;
	/* flex-shrink:0; */
	/* flex-grow:0; */
	/* flex-basis:auto; */
    }
	.port-head::after{
	position:absolute;
	content:"";
	background-color:#FFA500;
	height:1px;
	width:120px;
	top:50%;
	left:20%;
    }
	h2{
		font-size:35px;
	}
}

/* desktop view */

@media(min-width:1000px){
	.port-col{
	width:33.33%;
	padding:10px;
    }
	.port-head::after{
	position:absolute;
	content:"";
	background-color:#FFA500;
	height:1px;
	width:120px;
	top:50%;
	left:12%;
    }
}